<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Own CSS-->
    <link rel="stylesheet" href="style.css">
    <!--Icon links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Excuse 8-Ball</title>
</head>

<body>
    <div id="app" class="container">
        <h1 class="text-center m-5 font-weight-bold">Excuse Master</h1>
        <!---- SE, OPRET OG SLET EN SELV-GENERERT UND. ---->
        <div v-if="pageSwitch == 2">
            <button v-on:click="switchTo8ball()" type="button" class="btn btn-dark"
                style="margin: 10px; margin-left: 0px;" title="Back"><i class="fa fa-arrow-left"></i> </button>
            <div>
                <input id="excuseInput" placeholder="Enter new excuse..." type="text" v-model="newExcuse.excuse"
                    style="margin: 10px; margin-left: 0px;">
                <button id="CreateButton" v-on:click="postSelfGeneratedExcuses()" type="button" class="btn btn-dark"
                    title="Create excuse"> <i class="fa fa-plus-circle"></i></button>
                <div id="CreateExcuse">
                    {{ postMessage }}
                </div>
            </div>

            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:5%" scope="col">#</th>
                            <th style="width:80%" scope="col">Excuses</th>
                            <th style="width:15%;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="getAllExcuses">
                        <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                        <tr v-for="excuse in excuses">
                            <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                            <th style="text-align:center" scope="row">{{ excuse.id }}</th>
                            <td>
                                {{ excuse.excuse }}

                            </td>
                            <td style="text-align:center">
                                <button style="margin: 5px;"
                                    v-on:click="this.excuseToUpdate.id = excuse.id; showUpdateModal()" id="UpdateButton"
                                    type="button" class="btn btn-dark" title="Update"><i
                                        class="fa fa-edit"></i></button>
                                <button style="margin: 5px;"
                                    v-on:click="showDeleteModal();this.excuseToDelete = excuse.id" v-bind:id="excuse.id"
                                    class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="deletemodal" ref="deleteModal">
                    <div class="modal-content">
                        <p>Are you sure you want to delete this excuse?</p>

                        <button type="button" class="btn btn-danger" style="margin: 5px;"
                            v-on:click="deleteExcuse(); hideDeleteModal()">Yes</button>
                        <button type="button" class="btn btn-dark" style="margin: 5px;"
                            v-on:click="hideDeleteModal()">Cancel</button>
                    </div>
                </div>
                <div class="deletemodal" ref="updateModal">
                    <div class="modal-content">
                        <input id="updateExcuseInput" type="text" placeholder="updated excuse text"
                            v-model="excuseToUpdate.excuse" style="margin: 10px">
                        <button type="button" class="btn btn-primary" style="margin: 5px;"
                            v-on:click="updateExcuse(); hideUpdateModal()">Update</button>
                        <button type="button" class="btn btn-dark" style="margin: 5px;"
                            v-on:click="hideUpdateModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!---- HISTORIK ---->
        <div class="row">
            <div class="col" v-if="pageSwitch == 3">
                <button v-on:click="switchTo8ball()" type="button" class="btn btn-dark"
                    style="margin: 10px; margin-left: 0px;" title="Back"><i class="fa fa-arrow-left"></i> </button>
                <button id="clearButton" v-on:click="showDeletHistoryModal()" type="button" class="btn btn-dark"
                    style="margin: 10px"> Clear
                    history </button>

                <table class="table categoryStory; center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Category</th>

                            <th style="text-align: center;" scope="col">Amount</th>

                        </tr>
                    </thead>
                    <tbody id="showCategory">
                        <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                        <tr v-for="category in showCat">
                            <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                            <td>
                                {{ category.category }}
                            </td>
                            <td style="text-align:center">{{ category.count }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="deletemodal" ref="deletHistoryModal">
                    <div class="modal-content">
                        <h4> Are you sure you want to clear the catagory history? </h4>
                        <button id="clearConfirm" type="button" class="btn btn-danger" style="margin: 5px;"
                            v-on:click="clearHistory(); hideDeletHistoryModal()">Clear history</button>
                        <button type="button" class="btn btn-dark" style="margin: 5px;"
                            v-on:click=" hideDeletHistoryModal()">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
        <!----SLUT---->
        <!---- KNAPPER DER SKIFTER PAGE ---->
        <div v-if="pageSwitch == 1" class="container">
            <!-- Bootstrap Row med col -->
            <div class="row">
                <div class="col">
                   
                </div>
                <div class="col">
                  
                </div>
            </div>
            <!--SHOW RANDOM EXCUSE IN 8-BALL-->
            <div class="row">
                <div class="col-sm" >
                  
                </div>
                <div class="col-sm backImg center" >
                    <div class="displayDiv">
                        <div id="getExcuse" v-if="randomExcuse">
                            <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                            <button style="margin: 5px; float:left" class="btn btn-dark"
                            v-on:click="txtSpeech()"><i class="fa fa-volume-up"></i></button>
                            <span class="center-block"><span v-if="randomExcuse"><b>{{category}}</b></span>{{randomExcuse.excuse}}</span>

                            <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                        </div>
                    </div>
                </div>
                <div class="col-sm" >
                </div>
            </div>
            <div class="row">
                <div class="col-sm col-md">
                    <!--empty-->
                </div>
                <div class="col-sm col-md" style="margin-top: 30px;">
                    <button id="switchButton" v-on:click="switchToList()" type="button"
                    class="btn btn-dark btn-lg btn-block" style="float:left">My excuses</button>
                </div>
                <div class="col-sm col-md" style="margin-top: 30px;"> 
                    <button id="showCatButton" v-on:click="switchToHistory()" type="button"
                    class="btn btn-dark btn-lg btn-block" >Excuse history</button>  
                </div>
                <div class="col-sm col-md">
                    <!--empty-->
                </div>
            </div>


            <!--row slut-->
        </div>
        <!--container slut-->
    </div>
    <!--app id slut-->
    <!-- Javascript-reference -->
    <script src="script.js"></script>
</body>

</html>