<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Own CSS-->
    <link rel="stylesheet" href="style.css">
    <title>Undskyldnings8-Ball</title>
</head>
<body>
    <div id="app" class="container">
        <!---- SE, OPRET OG SLET EN SELV-GENERERT UND. ---->
        <div v-if="pageSwitch == 2">
            <button v-on:click="switchTo8ball()" type="button" class="btn btn-dark"
                style="margin: 10px">Tilbage</button>
            <div>
                <input id="excuseInput" placeholder="Ny undskyldning her..." type="text" v-model="newExcuse.excuse"
                    style="margin: 10px">
                <button id="CreateButton" v-on:click="postSelfGeneratedExcuses()" type="button" class="btn btn-dark">
                    Opret undskyldning</button>
                <div id="CreateExcuse">
                    {{ postMessage }}
                </div>
            </div>
            <div>
                <input id="updateIdInput" type="text" placeholder="Undskyldings id" v-model="excuseToUpdate.id"
                    style="margin: 10px">
                <input id="updateExcuseInput" type="text" placeholder="ny undskyldings tekst"
                    v-model="excuseToUpdate.excuse" style="margin: 10px">
                <button style="margin: 10px" v-on:click="updateExcuse()" id="UpdateButton" type="button"
                    class="btn btn-dark">Update</button>
            </div>

            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Undskyldninng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="getAllExcuses">
                        <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                        <tr v-for="excuse in excuses">
                            <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                            <th scope="row">{{ excuse.id }}</th>
                            <td>
                                {{ excuse.excuse }}
                            </td>
                            <td>
                                <button v-on:click="deleteExcuse(excuse.id)" v-bind:id="excuse.id" type="button"
                                    class="btn btn-danger">Slet undskyldning</button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        <!---- HISTORIK ---->
        <div class="row">
            <div class="col" v-if="pageSwitch == 3">
                <button v-on:click="switchTo8ball()" type="button" class="btn btn-dark"
                    style="margin: 10px">Tilbage</button>

                <table class="table categoryStory">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Kategori</th>

                            <th scope="col">Antal</th>

                        </tr>
                    </thead>
                    <tbody id="showCategory">
                        <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                        <tr v-for="category in showCat">
                            <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                            <td>
                                {{ category.category }}
                            </td>
                            <td>{{ category.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!----SLUT---->
        <!---- KNAPPER DER SKIFTER PAGE ---->
        <div v-if="pageSwitch == 1" class="container">
            <h2><b>Excuses generated</b></h2>
            <!-- Bootstrap Row med col -->
            <div class="row">
                <div class="col">
                    <button id="switchButton" v-on:click="switchToList()" type="button"
                        class="btn btn-dark btn-lg btn-block margin: 10px">Mine undskyldinger</button>
                </div>
                <div class="col">
                    <button id="showCatButton" v-on:click="switchToHistory()" type="button"
                        class="btn btn-dark btn-lg btn-block margin: 10px">Vis historik</button>
                </div>
            </div>
            <!--SHOW RANDOM EXCUSE IN 8-BALL-->
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm backImg center">
                    <div class="displayDiv">
                        <div id="getExcuse" v-if="randomExcuse">
                            <!-- Table Row m. for-loop, der løber igennem listen fra js -->
                            {{randomExcuse.excuse}}
                            <div v-for="excuse in randomExcuse">
                                <!-- første 'excuse' refererer til linjen herover, næste refererer til JSON-objektet fra databasen -->
                                {{excuse.excuse}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div><!--row slut-->
            </div>   <!--container slut--> 
            </div>        <!--app id slut-->
    <!-- Javascript-reference -->
    <script src="script.js"></script>
</body>

</html>