body,
html {
  height: 100%;
}
.center {
 margin-right: auto;
 margin-left: auto;

}

.backImg {
  min-width: 450px;
  min-height: 450px;
  background-image: url('8ball.png');
  background-repeat: no-repeat;

  /* padding-left: 260px;
    padding-top: 200px;
    margin-top: 100px;
    margin-left: 100px;*/
}

/*button main*/




.displayDiv {
  min-width: 400px;
  min-height: 55px;
  margin-top: 195px;
  margin-left: 2px;
  border: 4px outset grey;
  background-color: whitesmoke;
  text-align: center;
}

/*** Vis Historik ***/
.showCatStory {
  width: 200px;
  height: 200px;
  border: 4px outset grey;
}

table.categoryStory {
  width: 50%;
  height: 50%;
  border: 3px solid black;

}

table,
th,
td {
  border: 2px solid grey;
}

.deletemodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}