body, html {
    height: 100%;
}

.backImg{
    min-width: 450px;
    min-height: 600px;
    background-image: url('8ball.png');
    background-repeat: no-repeat;
    /* padding-left: 260px;
    padding-top: 200px;
    margin-top: 100px;
    margin-left: 100px;*/
}

.displayDiv{
    width: 400px;
    height: 80px;
    margin-top: 185px;
    margin-left: 10px;
    border: 4px outset grey;
    background-color: whitesmoke;
    text-align: center;
}